meta(charset='UTF-8')
meta(name='format-detection', content='telephone=no')
meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title #{PROPS.pageTitle}
link(rel='apple-touch-icon', sizes='180x180', href=PROPS.DIR + 'favicons/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href=PROPS.DIR + 'favicons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href=PROPS.DIR + 'favicons/favicon-16x16.png')
link(rel='manifest', href=PROPS.DIR + 'favicons/manifest.json')
link(rel='shortcut icon', href=PROPS.DIR + 'favicons/favicon.ico')
meta(name='msapplication-TileColor', content='#3a71c0')
meta(name='msapplication-TileImage', content=PROPS.DIR + 'favicons/mstile-144x144.png')
meta(name='msapplication-config', content=PROPS.DIR + 'favicons/browserconfig.xml')
meta(name='theme-color', content='#3a71c0')

link(rel='preload' as='font' crossorigin='anonymous' href='./fonts/Roboto-Regular.woff2')
link(rel='preload' as='font' crossorigin='anonymous' href='./fonts/Roboto-Bold.woff2')
link(rel='preload' as='font' crossorigin='anonymous' href='./fonts/Roboto-Medium.woff2')
link(rel='preload' as='font' crossorigin='anonymous' href='./fonts/Roboto-Italic.woff2')
link(rel='preload' as='font' crossorigin='anonymous' href='./fonts/Roboto-Light.woff2')